
@import url("https://fonts.googleapis.com/css2?family=PT+Serif:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap");


body {
  padding: 2rem 1rem;
  font-family: 'PT Serif';
  font-size: 18px;
  box-sizing: border-box;
}

.container{
  height: 100vh;
  max-width: 900px;
  margin: 0 auto;
}

.container__header{
  margin: 6rem 0;
  display: flex;
  justify-content: space-between;
}

.container__header h1{
  font-size: 36px;
  font-weight: bold;
  font-style: normal;
  line-height: 48px;
  letter-spacing: -0.045rem;
}

.container__header-rigth {
  width: 50%;
}

.container__header-rigth h2{
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
}

.container__header-rigth p {
  font-family:  "Poppins", serif;
  font-weight: normal;
  font-style: normal;
  font-size: 18px;
  line-height: 27px;
  margin-top: 1rem;
}

.container__body{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 6rem 3rem;
  margin: 6rem 0;
}

.perfil--grid{
  display: grid;
  grid-template-columns: 90% 10%;
}

.perfil--grid span{ 
  writing-mode: vertical-lr;
  font-size: 12px;
  line-height: 16px;
  font-weight: normal;
  font-style: normal;
  padding-left: .5rem;
}

.perfil--grid img{
  width: 100%;
  transition: filter ease-in-out .6s,  transform ease-in-out .6s;
}

.perfil--grid img:hover {
  transform: scale(1.02);
  filter: grayscale(80%);
}

.item__perfil p {
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 27px;
}

.item__perfil:nth-child(2){
  margin-top: 4rem;
}

.item__perfil:nth-child(5){
  margin-top: 4rem;
}

.container__footer p{
  padding: 2rem;
  font-family: 'Poppins';
  font-size: 14px;
  color: #A9A9A9;
  text-align: center;
}

.container__footer p b {
  text-decoration: underline;
}

@media screen and (max-width: 900px){

  body{
    padding: 1rem;
  }

  .container__header{
    flex-direction: column;
    margin: 1rem;
  }

  .container__header-rigth {
    margin-top: 2rem;
    width: 100%;
  }

  .container__body{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 6rem 1rem;
    margin: 6rem 0;
  }

  .perfil--grid span{ 
    padding-left: 0rem;
  }

  .item__perfil:nth-child(even){
    margin-top: 4rem;
  }

  .item__perfil:nth-child(odd){
    margin-top: 0;
  }


}


